body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  font-family: 'DotGothic16',sans-serif;
  font-size: 1em;
}

.left-side {
  flex-direction: column;
  align-items: flex-start;
}

.right-side {
  flex-direction: column;
  align-items: flex-end;
}

.center {
  flex-direction: column;
  align-items: center;
}