/*** full page ***/

body {
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
  background-color: rgb(20, 27, 67);
}

.wrapper {
  height: 100%;
  background: #ccc;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  height: 100%;
  flex: 1;
  color: #000;
}

/*** columns ***/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
  font-size: 1em;
  height: 100vh;
  order: 2;
  color: #00ff00;
  border-left: 5px solid rgba(0, 255, 0, 0.9);
  border-right: 5px solid rgba(0, 255, 0, 0.9);
  background-image: linear-gradient(#242c44, #745399, #008B8B);
  box-shadow: 0 2px 0 2px rgba(0, 150, 0, 0.2);
}

.left-side {
  text-align: center;
  width: 23%;
  order: 1;
  color: #FF1493;
  background-image: linear-gradient(#0e0e61, #191970, #30306c);
}

.right-side {
  text-align: center;
  width: 23%;
  order: 3;
  color: #FF1493;
  background-image: linear-gradient(#0e0e61, #191970, #30306c);

}

/*** game board ***/

.game-text {
  margin-top: 5%;
  font-size: 4vw;
}

.game-grid {
  margin: 11% auto 1% auto;
  padding: 0;
  height: 60%;
  width: 60%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  place-self: center;
  /* gap: 0; */
}

/** game boxes **/

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  margin: 3px;
  color: #1F1F3D;
  border: 2px rgba(0, 255, 255, 0.9) solid;
}

.box:nth-child(-n+3) {
  border-top: 0;
}

.box:nth-child(3n) {
  border-right: 0;
}

.box:nth-child(n+7) {
  border-bottom: 0;
}

.box:nth-child(3n+1) {
  border-left: 0;
}

/** aside columns **/

.win-box {
  margin-top: 7%;
}

.token {
  font-size: 5vw;
}

.win-counter {
  font-size: 3vw;
}


/** colors **/

/*
lime: #00FF00
cyan: #00FFFF
bright pink: #FF1493;
khaki: #F0E68C;
*/